<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{page.title.notice.detail}">[NPass Self Serviced Portal] Notice Detail Page</title>

    <th:block layout:fragment="script">
        <script>
            const pageName = "NOTICE_DETAIL";
        </script>
    </th:block>
</head>
<body>
    <main layout:fragment="content">
        <!-- pc contents -->
        <div class="hidden lg:block w-[95%] max-w-[1160px] mx-auto pt-[4.5vh] overflow-auto">
            <div class="flex h-[45px] mb-[1vh]">
                <h3 class="text-3xl font-bold flex items-center mr-12">
                    <span class="w-[9px] h-[9px] bg-black rounded-full mr-[15px]"></span>
                    <span th:text="#{pc.notice.detail.title}">공지사항</span>
                </h3>
                <ul class="grow h-1/2 border-b border-waterloo-600 flex justify-end items-center text-xs text-waterloo-600 *:px-1">
                    <li><a href="/" th:text="#{pc.common.path.root}">HOME</a></li>
                    <li>&#62;</li>
                    <li><a href="/notice" th:text="#{pc.common.path.notice}">NOTICE</a></li>
                </ul>
            </div>

            <div class="border border-blue-ribbon-950 rounded-[3px_3px_0_0] flex items-center h-[50px] mt-[80px]">
                <h4 class="flex justify-center items-center w-[90px] h-full bg-blue-ribbon-950 text-sm text-white font-bold">제목</h4>
                <p th:text="${notice.noticeTitle}" class="w-[92%] px-[15px] text-blue-ribbon-950 font-bold whitespace-nowrap overflow-hidden text-ellipsis"></p>
            </div>
            <div class="border border-blue-ribbon-950 rounded-[3px] p-5 my-10">
                <h5 th:text="${notice.noticeTitle}" class="text-blue-ribbon-950 font-bold mb-5"></h5>
                <textarea th:utext="${notice.noticeContent}" rows="7" class="text-sm leading-10 w-full h-auto outline-none resize-none" readonly></textarea>
            </div>

            <div class="flex justify-center">
                <button type="button" class="w-[93px] h-[38px] rounded-[3px] flex justify-center items-center bg-blue-ribbon-950 text-sm font-bold text-white transition-all-3ms-ease hover:border hover:border-blue-ribbon-950 hover:bg-white hover:text-blue-ribbon-950" 
                                                            th:onclick="|location.href='@{/notice(page          = ${param.page},
                                                                                                  size          = ${param.size},
                                                                                                  searchKeyword = ${param.searchKeyword})}'|" th:text="#{pc.notice.detail.body.button}">목록</button>
            </div>
        </div>

        <!-- mobile contents -->
        <div class="block lg:hidden h-full">
            <div class="h-[calc(100%-8vh)] p-[5vh_4%] overflow-auto">
                <div class="flex justify-between mb-8">
                    <h4 class="flex items-center h-14 text-xl font-bold" th:text="#{mobile.notice.detail.body.title}">제목</h4>
                    <p th:text="${notice.noticeTitle}" class="border border-boulder-400 rounded-[0.1875rem] w-[72vw] min-h-14 p-[0.8rem] text-gunsmoke-500 text-lg"></p>
                </div>
                <div class="flex justify-between">
                    <h5 class="flex items-center h-14 text-xl font-bold" th:text="#{mobile.notice.detail.body.content}">내용</h5>
                    <p th:utext="${notice.noticeContent}" class="border border-boulder-400 rounded-[0.1875rem] w-[72vw] min-h-72 p-[0.8rem] text-gunsmoke-500 text-lg leading-relaxed text-wrap"></p>
                </div>
            </div>
            <button type="button" class="w-full h-[8vh] bg-cornflower-blue-700 text-xl font-bold text-white"
                                                        th:onclick="|location.href='@{/notice(page            = ${param.page},
                                                                                              size          = ${param.size},
                                                                                              searchKeyword = ${param.searchKeyword})}'|" th:text="#{mobile.notice.detail.body.button}">목록</button>
        </div>
    </main>
</body>
</html>