<footer th:fragment="footerFragment" id="pc-footer" class="hidden lg:block fixed bottom-0 left-0 w-full h-[100px] bg-white">
    <div class="w-[95%] max-w-[1160px] mx-auto h-full flex justify-between items-center">
        <div class="text-boulder-400">
            <ul class="flex mb-1 *:after:content-['&#124;'] *:after:mx-[0.625rem] *:after:font-normal *:after:text-boulder-400">
                <li class="text-boulder-500 font-semibold">
                    <a href="#" th:text="#{pc.common.footer.privacy.policy}">개인정보 처리방침</a>
                </li>
                <li>
                    <span th:text="#{pc.common.footer.netcube}">(주)넷큐브</span>
                </li>
                <li class="last:after:content-none">
                    <span th:text="#{pc.common.footer.right.reserved}">All Rights Reserved.</span>
                </li>
            </ul>
            <ul class="flex *:after:content-['&#124;'] *:after:mx-[0.625rem]">
                <li>
                    <span>대표이사 유동호</span>
                </li>
                <li class="last:after:content-none">
                    <span>(우) 08215 서울 구로구 경인로53길 90 STX-W타워 714호</span>
                </li>
            </ul>
        </div>

        <a href="/" class="h-2/5"><img class="w-auto h-full" alt="YourLogo" src="/api/v1/file-manage/your-logo"></a>
    </div>
</footer>