<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="fragments/config-fragement :: configFragment"/>

    <body>
        <header th:replace="fragments/header-fragement :: headerFragment"></header>

        <main layout:fragment="content" class="h-screen pt-[8.9vh] lg:pt-20 lg:pb-[100px] md:min-h-[705px] overflow-auto"></main>

        <footer th:replace="fragments/footer-fragement :: footerFragment"/>
        <div id="modal-wrap"></div>
    </body>
</html>