@charset "UTF-8";

@import url(/css/common/reset.css);
@import url(/css/pc/common/modal.css);


.container{
    width:100%;
    height:100%;
    min-height:720px;
    position:relative;
}
.installPageWrap {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(16, 15, 15, 0.95);
}
/* main */
section.main{
    clear:both;
    width:100%;
    height:100%;
    background-color:var(--subpage-bg-color);
    display:flex;
    justify-content:center;
    align-items:center;
}

.contents-wrap{
	clear:both;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
  	justify-content:center;
  	align-items:center;
}

.file-download{
	position: relative;
	width: 580px;
	height: 300px;
	background: #FFFFFF;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}
.file-download button.close-btn {
	position: absolute;
    width: 22px;
    height: 22px;
    top: 20px;
    right: 20px;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
}
.file-download h2{
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 55px;
}
.file-download h2 span.title{
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	color: #8A8A8A;
}
.file-download h2 span.image{
	width:24px;
	height:auto;
}
.file-download h2 span.image img{
	width:100%;
	height:auto;
}
.file-download div.message{
	width: 100%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.file-download div.message p{
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #737373;
}
/*.file-download div.message p:last-child{
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	!*display: none;*!
	text-align: center;
	color: #667FB0;
}*/
.file-download .btnGroup{
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: 0;
	border-top: 1px solid #8A8A8A;
}
.btnGroup .btn-default{
	width: 100%;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	color: #8A8A8A;
}
@media all and (max-width: 676px){
	.file-download {
	    width: 450px;
    	height: 300px;
	}
}
@media all and (max-width: 500px){
	.file-download {
		width: 350px;
	    height: 275px;
	}
}